services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    entrypoint: sh -c 'ollama serve & sleep 2 && ollama pull llama3 && wait'
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped

  rag-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rag-chat
    ports:
      - "8501:8501"
    environment:
      - OLLAMA_API=http://ollama:11434
    depends_on:
      - ollama
    restart: unless-stopped

volumes:
  ollama_models:
